<div>
  <h3>Ticketing App</h3>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'Tickets', tickets_path %>
  <%= link_to 'Tags', tags_path %>

  <%# if signed_in? %>
  <%# else %>
  <%# end %>

  <span>
    Signed in as current_user
  </span>

</div>